.onboarding {
    padding: 60px 20px;
    background: #fff;
    text-align: center;
    display: none;
}

.onboarding-container {
    max-width: 1200px;
    margin: 0 auto;
}

.onboarding-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: #242424;
    text-align: left;
}

.onboarding-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.onboarding-step {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onboarding-step span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: rgba(36, 36, 36, 0.35);
}

.onboarding-step img {
    margin-top: 24px;
    max-width: 200px;
    height: 132px;
    margin-bottom: 16px;
    border-radius: 12px;
}

.onboarding-step h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    color: #242424;
    text-align: left;
}

.onboarding-step p {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: rgba(36, 36, 36, 0.85);
    text-align: left;
}

@media (max-width: 1024px) {
    .onboarding-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .onboarding-title {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .onboarding-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .onboarding-title {
        font-size: 20px;

    }

    .onboarding-step {
        padding: 16px;
    }
    .onboarding-step h3 {
 font-size: 14px;
    text-align: center;
}

.onboarding-step p {
   font-size: 12px;
    text-align: center;
}
}